@import "tailwindcss";

:root {
}

.font-lufga {
  font-family: var(--font-lufga);
}

.full-bleed-hero {
  box-shadow: 0 0 0 100vmax #071b17;
  clip-path: inset(0 -100vmax);
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
